# .NET Core & Visual Studio specific files
.vs/
.vscode/
bin/
obj/
publish/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Package & dependency folders
packages/

# Log files
*.log
*.tlog
*.cache

# Configuration files (can contain sensitive information)
appsettings.json
appsettings.Development.json

# AWS configuration files
.env
secrets.json

# Operating system specific files
.DS_Store
Thumbs.db
